{% extends 'report/shared/base.pdf.twig' %}


{% block body %}
    <div>
        <h2 style="text-align: center"
        >Evaluación de riesgos de proceso</h2>

        <h3 style="margin-top: 8mm;">1.-Datos del Proceso</h3>
        <div style="
            margin-left: 10mm;
        ">
            <div><b>Nombre</b></div>
            <div style="margin: 5mm;"
            >fgfdg dfgfdgfdgfdg </div>

            <div><b>Descripcion</b></div>
            <div style="margin: 5mm;"
            >fgfdg dfgfdgfdgfdg df gfd gdfg dfdf  gfdgdg df gdfgdf  dfgg df gd dfgdgf gfgdfg dgf
            dfgf fgdgd fffffffffffffffffffffffffffffffffffffffffff f         fffffffffffffffffffffffffffffffffffff ff</div>


        </div>

    </div>

{% endblock %}